In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('ENs_2006-2019_2.xlsx')

In [3]:
df.head()

,EventNotificationNumber,EventDescription,SiteName,RegionNumber,StateCode,CityName,CountyName,UnitInd1,UnitInd2,UnitInd3,...,InitPower1,InitPower2,InitPower3,Imode1,Imode2,Imode3,Fmode1,Fmode2,Fmode3,EventText
0,41128,Power Reactor,PALISADES,3.0,MI,COVERT,VANBUREN,1.0,NaN,NaN,...,0.0,0.0,0.0,Refueling,NaN,NaN,Refueling,NaN,NaN,REACTOR VESSEL HEAD NOZZLE CRACKING
1,41377,Power Reactor,PRAIRIE ISLAND,3.0,MN,WELCH,GOODHUE,1.0,NaN,NaN,...,88.0,0.0,0.0,Power Operation,NaN,NaN,Power Operation,NaN,NaN,4160 VOLT RELAYING AND METERING SINGLE FAILURE...
2,41755,Power Reactor,SUMMER,2.0,SC,JENKINSVILLE,FAIRFIELD,1.0,NaN,NaN,...,100.0,0.0,0.0,Power Operation,NaN,NaN,Power Operation,NaN,NaN,TWENTY-EIGHT EARLY WARNING SIRENS TEMPORARILY ...
3,41791,Power Reactor,DRESDEN,3.0,IL,MORRIS,GRUNDY,NaN,2.0,3.0,...,0.0,99.0,99.0,NaN,Power Operation,Power Operation,NaN,Power Operation,Power Operation,OFFSITE POWER SOURCE DECLARED INOPERABLE DUE T...
4,42020,Power Reactor,POINT BEACH,3.0,WI,TWO RIVERS,MANITOWOC,1.0,2.0,NaN,...,0.0,100.0,0.0,Cold Shutdown,Power Operation,NaN,Cold Shutdown,Power Operation,NaN,POSTULATED FAULTS HAVE ELECTRICAL CURRENT IN E...

In [4]:
df.dtypes

EventNotificationNumber            object
EventDescription                   object
SiteName                           object
RegionNumber                      float64
StateCode                          object
CityName                           object
CountyName                         object
UnitInd1                          float64
UnitInd2                          float64
UnitInd3                          float64
TimeZone                           object
RxType                             object
NotificationDate           datetime64[ns]
NotificationTime                   object
EventDate                  datetime64[ns]
EventTime                          object
DateUpdated                datetime64[ns]
EmergencyClass                     object
CfrCode1                           object
CfrDescription1                    object
CfrDesc1                           object
CfrCode2                           object
CfrDescription2                    object
CfrDesc2                           object
CfrCode3                           object
CfrDescription3                    object
CfrDesc3                           object
CfrCode4                          float64
CfrDescription4                   float64
CfrDesc4                          float64
ScramType1                         object
ScramType2                         object
ScramType3                         object
CurrPower1                        float64
CurrPower2                        float64
CurrPower3                        float64
InitPower1                        float64
InitPower2                        float64
InitPower3                        float64
Imode1                             object
Imode2                             object
Imode3                             object
Fmode1                             object
Fmode2                             object
Fmode3                             object
EventText                          object
dtype: object

In [5]:
df.SiteName

0            PALISADES
1       PRAIRIE ISLAND
2               SUMMER
3              DRESDEN
4          POINT BEACH
             ...
6394          SEQUOYAH
6395          SEQUOYAH
6396         MILLSTONE
6397             FERMI
6398         MILLSTONE
Name: SiteName, Length: 6399, dtype: object

In [6]:
df.loc[df.SiteName == 'WATERFORD'].EventDate.count()

56

In [7]:
df = df.set_index(['EventDate'])

In [8]:
df.head()

,EventNotificationNumber,EventDescription,SiteName,RegionNumber,StateCode,CityName,CountyName,UnitInd1,UnitInd2,UnitInd3,...,InitPower1,InitPower2,InitPower3,Imode1,Imode2,Imode3,Fmode1,Fmode2,Fmode3,EventText
EventDate,,,,,,,,,,,,,,,,,,,,,
2004-10-16,41128,Power Reactor,PALISADES,3.0,MI,COVERT,VANBUREN,1.0,NaN,NaN,...,0.0,0.0,0.0,Refueling,NaN,NaN,Refueling,NaN,NaN,REACTOR VESSEL HEAD NOZZLE CRACKING
2005-02-05,41377,Power Reactor,PRAIRIE ISLAND,3.0,MN,WELCH,GOODHUE,1.0,NaN,NaN,...,88.0,0.0,0.0,Power Operation,NaN,NaN,Power Operation,NaN,NaN,4160 VOLT RELAYING AND METERING SINGLE FAILURE...
2005-06-07,41755,Power Reactor,SUMMER,2.0,SC,JENKINSVILLE,FAIRFIELD,1.0,NaN,NaN,...,100.0,0.0,0.0,Power Operation,NaN,NaN,Power Operation,NaN,NaN,TWENTY-EIGHT EARLY WARNING SIRENS TEMPORARILY ...
2005-06-23,41791,Power Reactor,DRESDEN,3.0,IL,MORRIS,GRUNDY,NaN,2.0,3.0,...,0.0,99.0,99.0,NaN,Power Operation,Power Operation,NaN,Power Operation,Power Operation,OFFSITE POWER SOURCE DECLARED INOPERABLE DUE T...
2005-09-27,42020,Power Reactor,POINT BEACH,3.0,WI,TWO RIVERS,MANITOWOC,1.0,2.0,NaN,...,0.0,100.0,0.0,Cold Shutdown,Power Operation,NaN,Cold Shutdown,Power Operation,NaN,POSTULATED FAULTS HAVE ELECTRICAL CURRENT IN E...

In [9]:
df.groupby('SiteName').value_counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [46]:
df.SiteName.value_counts()

BROWNS FERRY           203
PRAIRIE ISLAND         181
MILLSTONE              181
SUSQUEHANNA            161
FERMI                  159
                      ...
LACROSSE                 3
BELLEFONTE               3
RANCHO SECO              2
SUMMER CONSTRUCTION      1
HUMBOLDT BAY             1
Name: SiteName, Length: 73, dtype: int64

In [11]:
df2 = df['2006-01-01':'2006-12-31']
df2.loc[df2.SiteName == 'BROWNS FERRY'].SiteName.count()

9

In [17]:
df2 = df['2006-01-01':'2006-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

3

In [18]:
df2 = df['2007-01-01':'2007-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

0

In [19]:
df2 = df['2008-01-01':'2008-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

1

In [20]:
df2 = df['2009-01-01':'2009-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

3

In [21]:
df2 = df['2010-01-01':'2010-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

5

In [22]:
df2 = df['2011-01-01':'2011-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

2

In [23]:
df2 = df['2012-01-01':'2012-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

8

In [24]:
df2 = df['2013-01-01':'2013-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

4

In [25]:
df2 = df['2014-01-01':'2014-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

6

In [26]:
df2 = df['2015-01-01':'2015-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

6

In [27]:
df2 = df['2016-01-01':'2016-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

4

In [28]:
df2 = df['2017-01-01':'2017-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

3

In [29]:
df2 = df['2018-01-01':'2018-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

3

In [30]:
df2 = df['2019-01-01':'2019-12-31']
df2.loc[df2.SiteName == 'WATERFORD'].SiteName.count()

8

In [5]:
df.dtypes

EventDate     datetime64[ns]
ScramType1            object
ScramType2            object
ScramType3            object
dtype: object

In [31]:
def sitecounts(site):
    
    df2 = df['2006-01-01':'2006-12-31']
    Y06 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2007-01-01':'2007-12-31']
    Y07 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2008-01-01':'2008-12-31']
    Y08 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2009-01-01':'2009-12-31']
    Y09 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2010-01-01':'2010-12-31']
    Y10 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2011-01-01':'2011-12-31']
    Y11 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2012-01-01':'2012-12-31']
    Y12 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2013-01-01':'2013-12-31']
    Y13 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2014-01-01':'2014-12-31']
    Y14 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2015-01-01':'2015-12-31']
    Y15 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2016-01-01':'2016-12-31']
    Y16 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2017-01-01':'2017-12-31']
    Y17 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2018-01-01':'2018-12-31']
    Y18 = df2.loc[df2.SiteName == site].SiteName.count()
    df2 = df['2019-01-01':'2019-12-31']
    Y19 = df2.loc[df2.SiteName == site].SiteName.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {} {} {}'.format(Y06, Y07, Y08, Y09, Y10, Y11, Y12, Y13, Y14, Y15, Y16, Y17, Y18, Y19))

In [32]:
sitecounts('SEABROOK')

4 2 2 2 4 3 5 0 2 1 4 1 1 2

In [33]:
sitecounts('HARRIS')

4 4 4 2 5 4 35 24 9 10 7 0 5 3

In [25]:
def ENcounts(year):
    
    JanAvg = df[year+'-01-01':year+'-01-31'].ScramType1.count()
    FebAvg = df[year+'-02-01':year+'-02-28'].ScramType1.count()
    MarAvg = df[year+'-03-01':year+'-03-31'].ScramType1.count()
    AprAvg = df[year+'-04-01':year+'-04-30'].ScramType1.count()
    MayAvg = df[year+'-05-01':year+'-05-31'].ScramType1.count()
    JunAvg = df[year+'-06-01':year+'-06-30'].ScramType1.count()
    JulAvg = df[year+'-07-01':year+'-07-31'].ScramType1.count()
    AugAvg = df[year+'-08-01':year+'-08-31'].ScramType1.count()
    SepAvg = df[year+'-09-01':year+'-09-30'].ScramType1.count()
    OctAvg = df[year+'-10-01':year+'-10-31'].ScramType1.count()
    NovAvg = df[year+'-11-01':year+'-11-30'].ScramType1.count()
    DecAvg = df[year+'-12-01':year+'-12-31'].ScramType1.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {}'.format(JanAvg, FebAvg, MarAvg, AprAvg, MayAvg, JunAvg, JulAvg, AugAvg, SepAvg, OctAvg, NovAvg, DecAvg))

In [26]:
ENcounts('2006')

30 36 54 39 38 36 30 38 20 54 34 22

In [27]:
ENcounts('2007')

34 43 31 28 32 31 25 42 37 43 24 28

In [28]:
ENcounts('2008')

49 31 52 42 35 39 22 39 36 45 41 25

In [29]:
ENcounts('2009')

22 32 32 50 42 36 29 40 50 41 34 42

In [30]:
ENcounts('2010')

26 35 34 60 36 47 36 48 41 46 35 40

In [31]:
ENcounts('2011')

36 43 50 49 51 54 44 67 44 52 47 44

In [32]:
ENcounts('2012')

21 40 55 61 54 42 53 64 60 79 44 53

In [33]:
ENcounts('2013')

34 58 40 73 55 39 20 42 54 61 58 58

In [34]:
ENcounts('2014')

63 51 72 55 50 55 46 49 35 46 27 30

In [35]:
ENcounts('2015')

33 40 45 54 37 37 40 34 28 35 37 24

In [36]:
ENcounts('2016')

36 26 39 33 36 36 38 38 32 31 30 29

In [37]:
ENcounts('2017')

25 26 35 33 27 23 17 24 25 22 28 17

In [38]:
ENcounts('2018')

18 25 38 34 34 16 20 25 26 44 24 19

In [39]:
ENcounts('2019')

25 12 29 32 33 16 18 18 26 28 20 11