In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('ENs_2006-2019.xlsx')

In [4]:
df.head()

   EventDate ScramType1 ScramType2 ScramType3
0 2006-01-04          N          N          N
1 2006-01-04          N          N          N
2 2006-01-05          N          N          N
3 2006-01-09          N          N          N
4 2006-01-10          N          N          N

In [5]:
df.dtypes

EventDate     datetime64[ns]
ScramType1            object
ScramType2            object
ScramType3            object
dtype: object

In [25]:
def ENcounts(year):
    
    JanAvg = df[year+'-01-01':year+'-01-31'].ScramType1.count()
    FebAvg = df[year+'-02-01':year+'-02-28'].ScramType1.count()
    MarAvg = df[year+'-03-01':year+'-03-31'].ScramType1.count()
    AprAvg = df[year+'-04-01':year+'-04-30'].ScramType1.count()
    MayAvg = df[year+'-05-01':year+'-05-31'].ScramType1.count()
    JunAvg = df[year+'-06-01':year+'-06-30'].ScramType1.count()
    JulAvg = df[year+'-07-01':year+'-07-31'].ScramType1.count()
    AugAvg = df[year+'-08-01':year+'-08-31'].ScramType1.count()
    SepAvg = df[year+'-09-01':year+'-09-30'].ScramType1.count()
    OctAvg = df[year+'-10-01':year+'-10-31'].ScramType1.count()
    NovAvg = df[year+'-11-01':year+'-11-30'].ScramType1.count()
    DecAvg = df[year+'-12-01':year+'-12-31'].ScramType1.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {}'.format(JanAvg, FebAvg, MarAvg, AprAvg, MayAvg, JunAvg, JulAvg, AugAvg, SepAvg, OctAvg, NovAvg, DecAvg))

In [26]:
ENcounts('2006')

30 36 54 39 38 36 30 38 20 54 34 22

In [27]:
ENcounts('2007')

34 43 31 28 32 31 25 42 37 43 24 28

In [28]:
ENcounts('2008')

49 31 52 42 35 39 22 39 36 45 41 25

In [29]:
ENcounts('2009')

22 32 32 50 42 36 29 40 50 41 34 42

In [30]:
ENcounts('2010')

26 35 34 60 36 47 36 48 41 46 35 40

In [31]:
ENcounts('2011')

36 43 50 49 51 54 44 67 44 52 47 44

In [32]:
ENcounts('2012')

21 40 55 61 54 42 53 64 60 79 44 53

In [33]:
ENcounts('2013')

34 58 40 73 55 39 20 42 54 61 58 58

In [34]:
ENcounts('2014')

63 51 72 55 50 55 46 49 35 46 27 30

In [35]:
ENcounts('2015')

33 40 45 54 37 37 40 34 28 35 37 24

In [36]:
ENcounts('2016')

36 26 39 33 36 36 38 38 32 31 30 29

In [37]:
ENcounts('2017')

25 26 35 33 27 23 17 24 25 22 28 17

In [38]:
ENcounts('2018')

18 25 38 34 34 16 20 25 26 44 24 19

In [39]:
ENcounts('2019')

25 12 29 32 33 16 18 18 26 28 20 11