In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('greenFindings_2006_2019.xlsx')

In [3]:
df.head()

             Pim_Issue_Date                                              Title
0  12/31/2018\r\n02/05/2019  Inadvertent Service Water Header Pressure Redu...
1  12/31/2018\r\n02/05/2019  Failure to correct a degraded condition with t...
2  09/30/2018\r\n10/30/2018  Inadequate Verification of Full Low Head Safet...
3  08/10/2018\r\n09/20/2018  Duties of the Shift Technical Advisor for Cont...
4  03/31/2018\r\n05/02/2018                     Inadequate Procedure Adherence

In [4]:
df.dtypes

Pim_Issue_Date    object
Title             object
dtype: object

In [8]:
df['Pim_Issue_Date'] = df['Pim_Issue_Date'].apply(lambda x : x.split('\r',1)[0])

In [11]:
df['Pim_Issue_Date'] = df['Pim_Issue_Date'].apply(lambda x : x.split('\n',1)[0])

In [12]:
df.head()

  Pim_Issue_Date                                              Title
0     12/31/2018  Inadvertent Service Water Header Pressure Redu...
1     12/31/2018  Failure to correct a degraded condition with t...
2     09/30/2018  Inadequate Verification of Full Low Head Safet...
3     08/10/2018  Duties of the Shift Technical Advisor for Cont...
4     03/31/2018                     Inadequate Procedure Adherence

In [13]:
df['Pim_Issue_Date']= pd.to_datetime(df['Pim_Issue_Date'])

In [14]:
df.dtypes

Pim_Issue_Date    datetime64[ns]
Title                     object
dtype: object

In [15]:
df = df.set_index(['Pim_Issue_Date'])

In [16]:
df.head()

                                                            Title
Pim_Issue_Date
2018-12-31      Inadvertent Service Water Header Pressure Redu...
2018-12-31      Failure to correct a degraded condition with t...
2018-09-30      Inadequate Verification of Full Low Head Safet...
2018-08-10      Duties of the Shift Technical Advisor for Cont...
2018-03-31                         Inadequate Procedure Adherence

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9938 entries, 2018-12-31 to NaT
Data columns (total 1 columns):
Title    9938 non-null object
dtypes: object(1)
memory usage: 155.3+ KB

In [18]:
def greencounts(year):
    
    JanAvg = df[year+'-01-01':year+'-01-31'].Title.count()
    FebAvg = df[year+'-02-01':year+'-02-28'].Title.count()
    MarAvg = df[year+'-03-01':year+'-03-31'].Title.count()
    AprAvg = df[year+'-04-01':year+'-04-30'].Title.count()
    MayAvg = df[year+'-05-01':year+'-05-31'].Title.count()
    JunAvg = df[year+'-06-01':year+'-06-30'].Title.count()
    JulAvg = df[year+'-07-01':year+'-07-31'].Title.count()
    AugAvg = df[year+'-08-01':year+'-08-31'].Title.count()
    SepAvg = df[year+'-09-01':year+'-09-30'].Title.count()
    OctAvg = df[year+'-10-01':year+'-10-31'].Title.count()
    NovAvg = df[year+'-11-01':year+'-11-30'].Title.count()
    DecAvg = df[year+'-12-01':year+'-12-31'].Title.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {}'.format(JanAvg, FebAvg, MarAvg, AprAvg, MayAvg, JunAvg, JulAvg, AugAvg, SepAvg, OctAvg, NovAvg, DecAvg))

In [22]:
greencounts('2019')

2 6 82 7 6 63 6 7 55 4 7 67

In [19]:
greencounts('2018')

12 10 63 19 12 87 9 19 62 14 6 76

In [20]:
greencounts('2017')

0 7 94 11 20 99 17 25 69 18 24 113

In [21]:
greencounts('2016')

9 5 134 23 27 132 13 16 118 12 13 99

In [23]:
greencounts('2015')

17 24 137 10 19 159 16 20 115 34 32 127

In [24]:
greencounts('2014')

7 25 169 15 11 144 24 17 136 17 18 131

In [25]:
greencounts('2013')

2 10 152 26 51 164 37 35 110 30 27 133

In [26]:
greencounts('2012')

7 14 168 22 33 191 19 21 176 16 18 174

In [27]:
greencounts('2011')

13 15 173 25 22 205 16 24 177 42 9 174

In [28]:
greencounts('2010')

22 5 137 27 10 175 29 18 156 23 28 181

In [29]:
greencounts('2009')

7 19 143 24 18 164 21 22 144 34 18 199

In [30]:
greencounts('2008')

14 19 160 45 23 189 9 26 133 24 23 133

In [31]:
greencounts('2007')

16 28 167 38 23 166 29 18 126 56 25 215

In [32]:
greencounts('2006')

15 23 135 27 26 169 12 14 108 22 34 178