In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('GTG_2006_2019.xlsx')

In [3]:
df.head()

,Pim_Issue_Date,Significance,Docket,CornerstoneAttribute
0,01/19/2017\r\n01/19/2017,White,05000368 Arkansas Nuclear 2,NaN
1,08/01/2014\r\n08/09/2014,Yellow,05000313 Arkansas Nuclear 1\r\n05000368 Arkans...,NaN
2,02/10/2014\r\n03/24/2014,Yellow,05000313 Arkansas Nuclear 1,NaN
3,02/10/2014\r\n03/24/2014,Yellow,05000368 Arkansas Nuclear 2,NaN
4,08/22/2006\r\n09/18/2006,White,05000334 Beaver Valley 1\r\n05000412 Beaver Va...,NaN

In [4]:
df.dtypes

Pim_Issue_Date          object
Significance            object
Docket                  object
CornerstoneAttribute    object
dtype: object

In [6]:
df['Pim_Issue_Date'] = df['Pim_Issue_Date'].apply(lambda x : x.split('\r',1)[0])

In [7]:
df.head()

,Pim_Issue_Date,Significance,Docket,CornerstoneAttribute
0,01/19/2017,White,05000368 Arkansas Nuclear 2,NaN
1,08/01/2014,Yellow,05000313 Arkansas Nuclear 1\r\n05000368 Arkans...,NaN
2,02/10/2014,Yellow,05000313 Arkansas Nuclear 1,NaN
3,02/10/2014,Yellow,05000368 Arkansas Nuclear 2,NaN
4,08/22/2006,White,05000334 Beaver Valley 1\r\n05000412 Beaver Va...,NaN

In [8]:
df['Pim_Issue_Date']= pd.to_datetime(df['Pim_Issue_Date'])

In [9]:
df.dtypes

Pim_Issue_Date          datetime64[ns]
Significance                    object
Docket                          object
CornerstoneAttribute            object
dtype: object

In [22]:
df = df.set_index(['Pim_Issue_Date'])

In [23]:
df.head()

,Significance,Docket,CornerstoneAttribute
Pim_Issue_Date,,,
2017-01-19,White,05000368 Arkansas Nuclear 2,NaN
2014-08-01,Yellow,05000313 Arkansas Nuclear 1\r\n05000368 Arkans...,NaN
2014-02-10,Yellow,05000313 Arkansas Nuclear 1,NaN
2014-02-10,Yellow,05000368 Arkansas Nuclear 2,NaN
2006-08-22,White,05000334 Beaver Valley 1\r\n05000412 Beaver Va...,NaN

In [24]:
df['2006/01/01':'2017/12/31']

,Significance,Docket,CornerstoneAttribute
Pim_Issue_Date,,,
2017-01-19,White,05000368 Arkansas Nuclear 2,NaN
2014-08-01,Yellow,05000313 Arkansas Nuclear 1\r\n05000368 Arkans...,NaN
2014-02-10,Yellow,05000313 Arkansas Nuclear 1,NaN
2014-02-10,Yellow,05000368 Arkansas Nuclear 2,NaN
2006-08-22,White,05000334 Beaver Valley 1\r\n05000412 Beaver Va...,NaN
...,...,...,...
2013-01-18,Yellow,05000390 Watts Bar 1,NaN
2006-03-15,White,05000390 Watts Bar 1,NaN
2016-06-29,White,05000482 Wolf Creek 1,NaN
2014-03-04,White,05000482 Wolf Creek 1,NaN
2012-08-06,Yellow,05000482 Wolf Creek 1,NaN

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 172 entries, 2017-01-19 to 2012-08-06
Data columns (total 3 columns):
Significance            172 non-null object
Docket                  172 non-null object
CornerstoneAttribute    2 non-null object
dtypes: object(3)
memory usage: 10.4+ KB

In [12]:
def GTGcounts(year):
    
    JanAvg = df[year+'-01-01':year+'-01-31'].Significance.count()
    FebAvg = df[year+'-02-01':year+'-02-28'].Significance.count()
    MarAvg = df[year+'-03-01':year+'-03-31'].Significance.count()
    AprAvg = df[year+'-04-01':year+'-04-30'].Significance.count()
    MayAvg = df[year+'-05-01':year+'-05-31'].Significance.count()
    JunAvg = df[year+'-06-01':year+'-06-30'].Significance.count()
    JulAvg = df[year+'-07-01':year+'-07-31'].Significance.count()
    AugAvg = df[year+'-08-01':year+'-08-31'].Significance.count()
    SepAvg = df[year+'-09-01':year+'-09-30'].Significance.count()
    OctAvg = df[year+'-10-01':year+'-10-31'].Significance.count()
    NovAvg = df[year+'-11-01':year+'-11-30'].Significance.count()
    DecAvg = df[year+'-12-01':year+'-12-31'].Significance.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {}'.format(JanAvg, FebAvg, MarAvg, AprAvg, MayAvg, JunAvg, JulAvg, AugAvg, SepAvg, OctAvg, NovAvg, DecAvg))

In [25]:
GTGcounts('2019')

0 0 0 0 0 0 0 0 0 0 0 0

In [26]:
GTGcounts('2018')

0 0 1 0 0 0 0 1 1 0 0 1

In [27]:
GTGcounts('2017')

2 1 1 1 0 0 1 2 0 0 0 2

In [28]:
GTGcounts('2016')

0 0 1 0 0 2 0 1 2 0 1 2

In [29]:
GTGcounts('2015')

1 0 3 0 0 2 0 0 0 0 0 0

In [30]:
GTGcounts('2014')

1 2 2 0 0 3 2 1 1 4 0 4

In [31]:
GTGcounts('2013')

2 3 4 0 1 1 0 0 3 0 0 4

In [32]:
GTGcounts('2012')

0 0 0 3 1 4 0 1 1 1 0 4

In [33]:
GTGcounts('2011')

0 1 1 2 2 0 3 1 2 3 1 3

In [34]:
GTGcounts('2010')

0 0 2 1 0 1 0 1 2 1 0 1

In [35]:
GTGcounts('2009')

2 0 3 1 2 0 2 1 1 4 3 3

In [37]:
GTGcounts('2008')

1 1 2 0 0 0 0 3 0 1 2 1

In [38]:
GTGcounts('2007')

2 1 1 1 0 0 2 2 0 0 0 0

In [39]:
GTGcounts('2006')

0 0 3 0 2 1 1 6 0 1 3 2