In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('LERs.xlsx')

In [3]:
df.head()

,EventDate,Report Date,Accession #,Title
0,01/01/2007,02/27/2007,ML07058054,Sludge Mixing Valves was Determined to be in a...
1,01/01/2010,03/02/2010,ML10063042,Emergency Diesel Generator Start due to Failed...
2,01/01/2019,03/01/2019,ML19060A29,Unplanned Loss of Safety Function of Gland Sea...
3,01/02/2007,02/28/2007,ML07065040,Technical Specification Prohibited Condition d...
4,01/02/2009,10/30/2009,ML09314025,Automatic Actuation of an Emergency Diesel Gen...

In [5]:
df.dtypes

EventDate      object
Report Date    object
Accession #    object
Title          object
dtype: object

In [6]:
df['EventDate']= pd.to_datetime(df['EventDate'])

In [7]:
df.dtypes

EventDate      datetime64[ns]
Report Date            object
Accession #            object
Title                  object
dtype: object

In [9]:
df = df.set_index(['EventDate'])

In [10]:
def LERcounts(year):
    
    JanAvg = df[year+'-01-01':year+'-01-31'].Title.count()
    FebAvg = df[year+'-02-01':year+'-02-28'].Title.count()
    MarAvg = df[year+'-03-01':year+'-03-31'].Title.count()
    AprAvg = df[year+'-04-01':year+'-04-30'].Title.count()
    MayAvg = df[year+'-05-01':year+'-05-31'].Title.count()
    JunAvg = df[year+'-06-01':year+'-06-30'].Title.count()
    JulAvg = df[year+'-07-01':year+'-07-31'].Title.count()
    AugAvg = df[year+'-08-01':year+'-08-31'].Title.count()
    SepAvg = df[year+'-09-01':year+'-09-30'].Title.count()
    OctAvg = df[year+'-10-01':year+'-10-31'].Title.count()
    NovAvg = df[year+'-11-01':year+'-11-30'].Title.count()
    DecAvg = df[year+'-12-01':year+'-12-31'].Title.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {}'.format(JanAvg, FebAvg, MarAvg, AprAvg, MayAvg, JunAvg, JulAvg, AugAvg, SepAvg, OctAvg, NovAvg, DecAvg))

In [12]:
LERcounts('2019')

10 10 21 18 23 9 14 21 12 10 10 7

In [13]:
LERcounts('2018')

13 18 20 31 24 16 13 7 18 24 10 14

In [14]:
LERcounts('2017')

17 23 35 26 23 29 14 16 23 18 20 13

In [15]:
LERcounts('2016')

26 25 44 39 30 33 12 26 22 27 27 18

In [16]:
LERcounts('2015')

22 27 29 36 30 28 18 26 24 22 22 20

In [17]:
LERcounts('2014')

34 31 42 38 29 21 11 22 10 23 17 16

In [18]:
LERcounts('2013')

26 33 36 26 25 31 13 23 25 49 39 32

In [19]:
LERcounts('2012')

15 30 36 39 27 28 27 29 26 39 26 25

In [20]:
LERcounts('2011')

24 30 23 30 35 31 19 29 26 26 23 24

In [21]:
LERcounts('2010')

29 26 31 32 30 27 16 24 33 37 32 21

In [22]:
LERcounts('2009')

18 21 27 34 29 18 19 23 30 32 27 25

In [23]:
LERcounts('2008')

24 18 32 22 30 17 16 18 21 31 25 19

In [24]:
LERcounts('2007')

21 32 28 31 22 27 18 17 17 27 15 17

In [25]:
LERcounts('2006')

15 19 37 35 35 19 21 22 17 40 33 24