In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('LERs_2.xlsx')

In [4]:
df.head()

,LER Number,Plant Name,Event Date,Report Date,Accession #,Title
0,32008001,"Indian Point 1, Indian Point 2, Indian Point 3",05/27/2008,07/21/2008,ML08210044,Attempted Introduction of Contraband into the ...
1,1332010001,Humboldt Bay 3,06/24/2010,07/14/2011,ML11196005,Lost Radioactive Calibration Standard
2,2192006001,Oyster Creek,05/06/2006,07/05/2006,ML06188030,Unplanned Manual Scram Inserted During Planned...
3,2192006002,Oyster Creek,06/20/2006,09/22/2006,ML06278024,Failure of MSIV Surveillance Test due to Trans...
4,2192006003,Oyster Creek,10/16/2006,12/13/2006,ML06353047,Local Leak Rate Test Results in Excess of Tech...

In [6]:
df.dtypes

LER Number      int64
Plant Name     object
Event Date     object
Report Date    object
Accession #    object
Title          object
dtype: object

In [10]:
df['Event Date']= pd.to_datetime(df['Event Date'])

In [11]:
df.dtypes

LER Number              int64
Plant Name             object
Event Date     datetime64[ns]
Report Date            object
Accession #            object
Title                  object
dtype: object

In [12]:
df = df.set_index(['Event Date'])

In [13]:
df2 = df['2006-01-01':'2006-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3']

,LER Number,Plant Name,Report Date,Accession #,Title
Event Date,,,,,
2006-06-12,3822006001,Waterford 3,08/11/2006,ML06227003,Potential for Loss of Both Trains of Safe Shut...

In [14]:
df2 = df['2007-01-01':'2007-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3']

Empty DataFrame
Columns: [LER Number, Plant Name, Report Date, Accession #, Title]
Index: []

In [16]:
df2 = df['2008-01-01':'2008-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     6
Plant Name     6
Report Date    6
Accession #    6
Title          6
dtype: int64

In [17]:
df2 = df['2009-01-01':'2009-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     3
Plant Name     3
Report Date    3
Accession #    3
Title          3
dtype: int64

In [18]:
df2 = df['2010-01-01':'2010-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     4
Plant Name     4
Report Date    4
Accession #    4
Title          4
dtype: int64

In [19]:
df2 = df['2011-01-01':'2011-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     5
Plant Name     5
Report Date    5
Accession #    5
Title          5
dtype: int64

In [20]:
df2 = df['2012-01-01':'2012-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     7
Plant Name     7
Report Date    7
Accession #    7
Title          7
dtype: int64

In [21]:
df2 = df['2013-01-01':'2013-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     7
Plant Name     7
Report Date    7
Accession #    7
Title          7
dtype: int64

In [22]:
df2 = df['2014-01-01':'2014-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     3
Plant Name     3
Report Date    3
Accession #    3
Title          3
dtype: int64

In [23]:
df2 = df['2015-01-01':'2015-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     4
Plant Name     4
Report Date    4
Accession #    4
Title          4
dtype: int64

In [24]:
df2 = df['2016-01-01':'2016-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     2
Plant Name     2
Report Date    2
Accession #    2
Title          2
dtype: int64

In [25]:
df2 = df['2017-01-01':'2017-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     3
Plant Name     3
Report Date    3
Accession #    3
Title          3
dtype: int64

In [26]:
df2 = df['2018-01-01':'2018-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     3
Plant Name     3
Report Date    3
Accession #    3
Title          3
dtype: int64

In [27]:
df2 = df['2019-01-01':'2019-12-31']
df2.loc[df2['Plant Name'] == 'Waterford 3'].count()

LER Number     5
Plant Name     5
Report Date    5
Accession #    5
Title          5
dtype: int64

In [29]:
df.loc[df['Plant Name'] == 'Seabrook']

,LER Number,Plant Name,Report Date,Accession #,Title
Event Date,,,,,
2006-03-08,4432006002,Seabrook,04/07/2006,ML06102054,Noncompliance with the Requirements of Technic...
2006-02-05,4432006003,Seabrook,05/23/2006,ML06152034,Voluntary LER for Deficient Hydrostatic Barriers
2006-06-22,4432006004,Seabrook,07/19/2006,ML06207013,Technical Specification Violation due to Inope...
2006-07-03,4432006005,Seabrook,07/27/2006,ML06215035,Technical Specification Violation with Inopera...
2006-08-31,4432006006,Seabrook,02/05/2007,ML07039012,Plant Shutdown due to Inoperable Emergency Die...
2007-02-14,4432007001,Seabrook,04/12/2007,ML07103033,Noncompliance with the Requirements of Technic...
2007-04-05,4432007002,Seabrook,05/24/2007,ML07149050,Incorrect Valve Stroke Time Renders Emergency ...
2008-01-19,4432008001,Seabrook,03/17/2008,ML08086048,Plant Trip due to 345kV Bus Fault
2009-10-01,4432009001,Seabrook,11/30/2009,ML09343024,Reactor Protection System Actuation on Steam G...
2010-03-17,4432010001,Seabrook,05/14/2010,ML10139020,Emergency Air Cleanup System Inoperable due to...
2010-04-09,4432010002,Seabrook,06/08/2010,ML10165005,Containment Penetration Protective Devices Fou...
2011-03-24,4432011001,Seabrook,05/20/2011,ML11144A29,Noncompliance with Technical Specification for...
2011-10-06,4432011002,Seabrook,12/02/2011,ML11342A09,Automatic Reactor Trip following Loss of Main ...
2011-12-21,4432011003,Seabrook,02/14/2012,ML12052A25,Offsite AC Source Inoperable During Diesel Gen...
2012-07-18,4432012001,Seabrook,09/13/2012,ML12262A51,Inadequate Testing of Certain Emergency Feedwa...
2012-09-25,4432012002,Seabrook,11/08/2012,ML12319A07,Inadequate Testing of Response Time for Reacto...
2012-09-14,4432012003,Seabrook,11/08/2012,ML12319A07,Reactor Trip due to Circuit Board Failure That...
2012-10-31,4432012004,Seabrook,04/22/2013,ML13115A26,Manual Actuation of the Service Water Cooling ...
2012-12-07,4432012005,Seabrook,02/04/2013,ML13042016,Service Water Cooling Tower Low Water Level
2013-10-30,4432013001,Seabrook,12/23/2013,ML13365A00,Failure to Enter Technical Specification follo...
2014-04-01,4432014001,Seabrook,05/19/2014,ML14142A21,Automatic Reactor Trip due to Delay in Automat...
2014-04-06,4432014002,Seabrook,08/07/2014,ML14225A65,Reactor Coolant Pump Undervoltage Time Delay R...
2016-03-02,4432016001,Seabrook,04/26/2016,ML16123A11,Automatic Reactor Trip due to Turbine Trip
2016-03-02,4432016002,Seabrook,04/26/2016,ML16123A11,Emergency Feedwater System Actuation on Steam ...
2017-04-29,4432017001,Seabrook,06/28/2017,ML17178A35,Manual Reactor Trip in Response to a Feedwater...
2018-02-06,4432018001,Seabrook,04/05/2018,ML18095A68,Pressurizer Safety Valve Outside of Technical ...
2018-07-25,4432018002,Seabrook,09/19/2018,ML18262A40,Automatic Valve in Emergency Core Cooling Syst...
2018-09-27,4432018003,Seabrook,11/26/2018,ML18330A20,Overpower Delta T Setpoint Exceeded Allowable ...

In [30]:
def sitecounts(site):
    
    df2 = df['2006-01-01':'2006-12-31']
    Y06 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2007-01-01':'2007-12-31']
    Y07 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2008-01-01':'2008-12-31']
    Y08 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2009-01-01':'2009-12-31']
    Y09 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2010-01-01':'2010-12-31']
    Y10 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2011-01-01':'2011-12-31']
    Y11 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2012-01-01':'2012-12-31']
    Y12 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2013-01-01':'2013-12-31']
    Y13 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2014-01-01':'2014-12-31']
    Y14 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2015-01-01':'2015-12-31']
    Y15 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2016-01-01':'2016-12-31']
    Y16 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2017-01-01':'2017-12-31']
    Y17 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2018-01-01':'2018-12-31']
    Y18 = df2.loc[df2['Plant Name'] == site].Title.count()
    df2 = df['2019-01-01':'2019-12-31']
    Y19 = df2.loc[df2['Plant Name'] == site].Title.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {} {} {}'.format(Y06, Y07, Y08, Y09, Y10, Y11, Y12, Y13, Y14, Y15, Y16, Y17, Y18, Y19))

In [31]:
sitecounts('Seabrook')

5 2 1 1 2 3 5 1 2 0 2 1 3 0

In [32]:
sitecounts('Harris')

2 5 3 4 3 2 3 4 3 5 7 0 4 3

In [34]:
sitecounts('Browns Ferry 2')

0 2 0 9 5 1 4 2 1 2 1 4 0 3

In [10]:
def LERcounts(year):
    
    JanAvg = df[year+'-01-01':year+'-01-31'].Title.count()
    FebAvg = df[year+'-02-01':year+'-02-28'].Title.count()
    MarAvg = df[year+'-03-01':year+'-03-31'].Title.count()
    AprAvg = df[year+'-04-01':year+'-04-30'].Title.count()
    MayAvg = df[year+'-05-01':year+'-05-31'].Title.count()
    JunAvg = df[year+'-06-01':year+'-06-30'].Title.count()
    JulAvg = df[year+'-07-01':year+'-07-31'].Title.count()
    AugAvg = df[year+'-08-01':year+'-08-31'].Title.count()
    SepAvg = df[year+'-09-01':year+'-09-30'].Title.count()
    OctAvg = df[year+'-10-01':year+'-10-31'].Title.count()
    NovAvg = df[year+'-11-01':year+'-11-30'].Title.count()
    DecAvg = df[year+'-12-01':year+'-12-31'].Title.count()
    print('{} {} {} {} {} {} {} {} {} {} {} {}'.format(JanAvg, FebAvg, MarAvg, AprAvg, MayAvg, JunAvg, JulAvg, AugAvg, SepAvg, OctAvg, NovAvg, DecAvg))

In [12]:
LERcounts('2019')

10 10 21 18 23 9 14 21 12 10 10 7

In [13]:
LERcounts('2018')

13 18 20 31 24 16 13 7 18 24 10 14

In [14]:
LERcounts('2017')

17 23 35 26 23 29 14 16 23 18 20 13

In [15]:
LERcounts('2016')

26 25 44 39 30 33 12 26 22 27 27 18

In [16]:
LERcounts('2015')

22 27 29 36 30 28 18 26 24 22 22 20

In [17]:
LERcounts('2014')

34 31 42 38 29 21 11 22 10 23 17 16

In [18]:
LERcounts('2013')

26 33 36 26 25 31 13 23 25 49 39 32

In [19]:
LERcounts('2012')

15 30 36 39 27 28 27 29 26 39 26 25

In [20]:
LERcounts('2011')

24 30 23 30 35 31 19 29 26 26 23 24

In [21]:
LERcounts('2010')

29 26 31 32 30 27 16 24 33 37 32 21

In [22]:
LERcounts('2009')

18 21 27 34 29 18 19 23 30 32 27 25

In [23]:
LERcounts('2008')

24 18 32 22 30 17 16 18 21 31 25 19

In [24]:
LERcounts('2007')

21 32 28 31 22 27 18 17 17 27 15 17

In [25]:
LERcounts('2006')

15 19 37 35 35 19 21 22 17 40 33 24