In [1]:
import pandas as pd

In [51]:
df = pd.read_csv('./Power Status/2006PowerStatus.txt', sep='|')

In [31]:
df.head()

     ReportDt                Unit  Power
0  12/31/2006  Arkansas Nuclear 1    100
1  12/31/2006  Arkansas Nuclear 2    100
2  12/31/2006     Beaver Valley 1    100
3  12/31/2006     Beaver Valley 2    100
4  12/31/2006         Braidwood 1    100

In [52]:
df.loc[df.Unit == 'Harris 1'].mean()

Power    88.139726
dtype: float64

In [53]:
df = pd.read_csv('./Power Status/2007PowerStatus.txt', sep='|')

In [54]:
df.head()

     ReportDt                Unit  Power
0  12/31/2007  Arkansas Nuclear 1    100
1  12/31/2007  Arkansas Nuclear 2    100
2  12/31/2007     Beaver Valley 1    100
3  12/31/2007     Beaver Valley 2    100
4  12/31/2007         Braidwood 1    100

In [55]:
df.loc[df.Unit == 'Harris 1']

         ReportDt      Unit  Power
39     12/31/2007  Harris 1    100
143    12/30/2007  Harris 1    100
247    12/29/2007  Harris 1    100
351    12/28/2007  Harris 1    100
455    12/27/2007  Harris 1    100
...           ...       ...    ...
37479  01/05/2007  Harris 1    100
37583  01/04/2007  Harris 1    100
37687  01/03/2007  Harris 1    100
37791  01/02/2007  Harris 1    100
37895  01/01/2007  Harris 1    100

[365 rows x 3 columns]

In [56]:
df.loc[df.Unit == 'Harris 1'].mean()

Power    92.764384
dtype: float64

In [57]:
df = pd.read_csv('./Power Status/2008PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    97.013661
dtype: float64

In [58]:
df = pd.read_csv('./Power Status/2009PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    91.717808
dtype: float64

In [59]:
df = pd.read_csv('./Power Status/2010PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    87.682192
dtype: float64

In [60]:
df = pd.read_csv('./Power Status/2011PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    99.852055
dtype: float64

In [61]:
df = pd.read_csv('./Power Status/2012PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    86.051913
dtype: float64

In [62]:
df = pd.read_csv('./Power Status/2013PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    83.210959
dtype: float64

In [63]:
df = pd.read_csv('./Power Status/2014PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    96.975342
dtype: float64

In [64]:
df = pd.read_csv('./Power Status/2015PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    87.60274
dtype: float64

In [65]:
df = pd.read_csv('./Power Status/2016PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    90.010929
dtype: float64

In [66]:
df = pd.read_csv('./Power Status/2017PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    98.350685
dtype: float64

In [67]:
df = pd.read_csv('./Power Status/2018PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    89.049315
dtype: float64

In [68]:
df = pd.read_csv('./Power Status/2019PowerStatus.txt', sep='|')
df.loc[df.Unit == 'Harris 1'].mean()

Power    88.972603
dtype: float64